<main>
    <div class="form-container">
        <h2>Entre em Contato</h2>
        <form>
          <label for="name">Nome:</label>
          <input type="text" id="name" name="name" required ngModel />
      
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required ngModel />

          <label for="message">Mensagem:</label>
          <textarea id="message" name="message" rows="4" required ngModel></textarea>
      
          <button type="submit">Enviar</button>
        </form>
      </div>
      
</main>
