* {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

#nav {
    display: flex;
    height: 80px;
    max-height: 80px;
    background-color: rgb(221, 221, 221);
}

#logo{
    width:30%;
    display: flex;
    justify-content: center;
}

#logo a img {
    height: 60px;
    margin: 10px;
}


#nav-itens {
    display: flex;
    width:70%;
    justify-content: space-between;
}

#nav-itens ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 0 100px;
    margin: auto 0;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 77);
}

ul li a:hover {
    border-bottom: 2px solid rgb(0, 0, 77);
}

#app_home {
    padding-top: 80px;
}

/* scrool bar */

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media (max-width: 800px){
    #logo a img {
        height: 50px;
        margin: 15px;
    }
    
    #nav-itens ul{
        padding: 0 10px;
    }

    #nav-itens {
        width:50%;
    }

  }